<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <test verbose="2" preserve-order="true" name="marta.test1">
        <parameter name="browser" value="chrome"></parameter>
   <classes>
       <class name="test"></class>
   </classes>
    </test>

    <test verbose="2" preserve-order="true" name="marta.test2">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="test"></class>
        </classes>
    </test>
</suite>